<div id="modalFaleConosco" class="modal fade" tabindex="-1" aria-labelledby="modalFaleConoscoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFaleConoscoLabel">Fale Conosco</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Entre em contato com o suporte via Workplace para ajuda com o login.</p>
            </div>
        </div>
    </div>
</div>
