<div id="modalEsqueciSenha" class="modal fade" tabindex="-1" aria-labelledby="modalEsqueciSenhaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEsqueciSenhaLabel">Recuperar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form id="formEsqueciSenha">
                    <div class="mb-3">
                        <label for="emailRecuperacao" class="form-label">E-mail de Recuperação</label>
                        <input type="email" class="form-control" id="emailRecuperacao" placeholder="Insira seu e-mail" required />
                    </div>
                    <button type="submit" class="btn btn-verde w-100">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
