<nav class="sidebar col-md-2 col-lg-2" id="sidebar">
        
    <button class="close-btn" onclick="closeSidebar()">
        <i class="fas fa-times"></i>
    </button>
        
    <div class="menu">
        <ul class="nav flex-column">
            
            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/users/page">
                    <i class="fas fa-users" style="margin-right: 8px"></i>
                        Usuários
                </button>
            </li>

            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/profiles/page">
                    <i class="fas fa-user-shield" style="margin-right: 8px"></i>
                        Perfis de Acesso
                </button>
            </li>

            
            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/taloes/page">
                    <i class="fas fa-file-invoice" style="margin-right: 8px"></i>
                        Talões
                </button>
            </li>
           
            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/estoques/page">
                    <i class="fas fa-box" style="margin-right: 8px"></i>
                        Estoque
                </button>
            </li>

            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/lojas/page">
                    <i class="fas fa-store" style="margin-right: 8px"></i>
                        Lojas
                </button>
            </li>

            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/relatorios/page">
                    <i class="fas fa-th-large" style="margin-right: 8px"></i>
                        Relatórios
                </button>
            </li>
            
        </ul>
    </div>

    <div class="bottom-links">
        
        <button class="btn btn-custom w-100 mb-2 load-content" data-url="/dashboards/page">
            <i class="fas fa-tachometer-alt" style="margin-right: 8px"></i>
                Dashboard
        </button>
          
        <button class="btn btn-custom w-100 mb-2 load-content" data-url="/configuracoes/page">
            <i class="fas fa-cog" style="margin-right: 8px"></i>
                Configurações
        </button>
          
        <button class="btn btn-danger w-100 mb-2"  id="logoutBtn">
            <i class="fas fa-sign-out-alt" style="margin-right: 8px"></i>
                Sair
        </button>

        <div class="user-info">
            <div class="user-avatar">
                <span class="user-initials"></span>
            </div>
            <div class="user-details">
              <p class="user-perfil"><strong></strong></p>
              <p class="user-loja"><strong></strong></p>
            </div>
        </div>
    </div>
</nav>