<nav class="sidebar col-md-2 col-lg-2" id="sidebar">
    <div class="menu">
        <ul class="nav flex-column">
            
            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/users/page">
                    <i class="fas fa-file-invoice" style="margin-right: 8px"></i> Usuários
                </button>
            </li>

            <li class="nav-item">
                <button class="btn btn-custom w-100 mb-2 load-content" data-url="/profiles/page">
                    <i class="fas fa-user" style="margin-right: 8px"></i> Perfis de Acesso
                </button>
            </li>
        
        </ul>
    </div>
    
    <div class="bottom-links">    
        <button class="btn btn-danger w-100 mb-2" id="logoutBtn">
            <i class="fas fa-sign-out-alt" style="margin-right: 8px"></i>
            Sair
        </button>
    </div>
</nav>
