<div class="login-container">
    <div class="logo text-center">
        <img src="/images/logo.png" alt="Logo Quero-Quero" />
    </div>
    <h2 class="text-center">App Oferte e Ganhe</h2>

    <% if(messages && messages.length > 0){ %>
        <% messages.forEach(message => { %>
            <div class="alert alert-danger text-center" role="alert">
                <%= message %>
            </div>
        <% }) %>
    <% } %>

    <form action="/api/login" method="POST">
        <div class="mb-3">
            <label for="matricula" class="form-label">Matrícula</label>
            <input type="text" class="form-control" id="matricula" name="registration" placeholder="Insira sua Matrícula" required />
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <div class="input-group">
                <input type="password" class="form-control" id="senha" name="password" placeholder="Insira sua Senha" required />
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="bi bi-eye-slash" id="eyeIcon"></i>
                </button>
            </div>
        </div>
        <div class="mb-3">
            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modalEsqueciSenha">Esqueci a senha</a>
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember" />
            <label class="form-check-label" for="rememberMe">Lembre-me</label>
        </div>
        <button type="submit" class="btn btn-verde w-100">Login</button>
    </form>

    <hr />
    <p class="text-center">Ajuda para fazer login?</p>
    <button class="btn btn-amarelo w-100" data-bs-toggle="modal" data-bs-target="#modalFaleConosco">Fale Conosco</button>
</div>
