<main class="container mt-5">
    <h1 class="text-center">Redefinir Senha</h1>
    <form id="formRedefinirSenha">
        <div class="mb-3">
            <label for="newPassword" class="form-label">Nova Senha</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Digite sua nova senha" required>
        </div>
        <div id="feedbackRedefinirSenha" class="alert d-none" role="alert"></div>
        <input type="hidden" id="token" value="<%= token %>">
        <button type="submit" class="btn btn-verde w-100">Redefinir Senha</button>
    </form>
</main>

<script src="/js/resetPassword.js"></script>
