.card {
    border-radius: 8px;
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-footer i {
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .card-footer i:hover {
    color: #f5d307;
  }
  
  .card.solicitado {
    border: 2px solid #b30d14; /* Vermelho */
  }
  
  .card.recebido {
    border: 2px solid #28a745; /* Verde */
  }
  
  .card.enviado {
    border: 2px solid #ffc107; /* Amarelo */
  }