@media only screen and (min-width: 1280px) and (max-width: 1400px) {
    /* Ajustes no header */
    header {
      padding: 1.5rem;
    }
  
    header .img-fluid {
      height: 4rem;
      margin-left: 12rem; 
    }
  
    .btn-alert-circle {
      width: 2.5rem;
      height: 2.5rem;
      right: 2rem; 
      top: 2rem; 
    }
  
    /* Sidebar ajustes */
    .sidebar {
      width: 15vw; 
      padding: 1.5rem 1rem; 
    }
  
    .sidebar button {
      font-size: 0.8rem; 
      padding: 0.2rem; 
    }
  
    .menu {
      padding-top: 12vh;
    }
  
    .bottom-links {
      padding-top: 6.5vh;
    }
  
    .sidebar .nav-item:nth-child(1),
    .sidebar .nav-item:nth-child(2),
    .sidebar .nav-item:nth-child(3),
    .sidebar .nav-item:nth-child(4),
    .sidebar .nav-item:nth-child(5),
    .sidebar .nav-item:nth-child(6) {
      margin-bottom: 0rem;
    }
  
    .content {
      padding: 0rem;
      margin-left: 16vw;
    }
  
    /* Botão de submissão ajustado */
    .btn-submit {
      margin-left: 20vh; 
      width: 40%; 
    }
  
    /* Ajustes no avatar do usuário */
    .user-avatar {
      width: 2rem;
      height: 2rem;
    }
  
    .user-name,
    .user-loja {
      font-size: 0.9rem; 
    }
  }
  
  /*responsividade para mobile */
  @media (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%);
      position: fixed;
      top: 0;
      left: 0;
      width: 60vw;
      height: 100%;
      padding: 1.5rem 1rem;
    }
  
    .sidebar.active {
      transform: translateX(0);
    }
  
    .sidebar button {
      font-size: 0.9rem;
      padding: 0.5rem 0.8rem;
    }
  
    .close-btn {
      display: block;
    }
  
    .btn-alert-circle {
      display: block !important;
      width: 3rem;
      height: 3rem;
      top: 2rem;
      right: 5%;
    }
  
    header .img-fluid {
      height: 3rem;
      margin-right: 15rem;
    }
  
    .content {
      margin-left: 0;
    }
  
    .btn-submit {
      margin-left: 10vh;
      width: 50%;
    }
  
    .user-avatar {
      width: 2rem;
      height: 2rem;
    }
  
    .user-name,
    .user-loja {
      font-size: 0.7rem;
    }
  
    .modal-content {
      margin-top: 30%; 
      margin-left: 5%; 
    }
  
    .btn-voltar{
      display: none;
    }
  
    .modal-notificacoes .modal-content {
      margin-top: 30%; 
      margin-left: 22%;
      width: 95vw; 
      height: 57%; 
      overflow: visible;
    }
  
    .modal-footer .btn-marcar-todas {
      padding: 0.75rem 1.5rem; 
      font-size: 1.25rem; 
  }
  
  .modal-footer .btn-marcar-todas i {
      font-size: 1.5rem; 
  }
  }