.usuario i:hover{
  color: #f5d307;
}

.sidebar {
    height: 100vh;
    padding: 2rem 1rem;
    background-color: #f5d307;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 12vw;
    overflow: hidden;
    z-index: 1000;
    transition: transform 0.3s ease, width 0.3s ease;
  }
  
  .sidebar.active {
    transform: translateX(0);
  }
  
  .sidebar button {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }
  
  .nav-item {
    margin: 1rem 0;
  }
  
  .menu {
    padding-top: 12vh;
  }

  .bottom-links {
    padding-top: 5.5vh;
  }
  
  .bottom-links button {
    margin-bottom: 1rem;
  }
  
  .close-btn {
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    color: #269447;
    cursor: pointer;
    z-index: 1001;
  }
  
  .close-btn i {
    font-size: 1.5rem;
    color: #269447;
  }
  
  .btn-danger {
    background-color: #b30d14;
    border-color: #b30d14;
  }
  
  .btn-danger:hover {
    background-color: #851306;
    border-color: #851306;
  }
  
/* Hamburger Menu */
.hamburger {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: white;
  display: block;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}