table thead {
    background-color: #269447;
    color: white;
    border-bottom: 2px solid #ccc;
    text-align: left;
}


.table-responsive {
    overflow-x: auto;
}

.custom-pagination .page-item .page-link {
    color: #1f5d3d;
}
  
.custom-pagination .page-item.disabled .page-link {
    background-color: #ccc;
    color: #1f5d3d;
}
  
.custom-pagination .page-item.active .page-link {
    background-color: #1f5d3d;
    color: white;
}
  
.custom-pagination .page-item .page-link:hover {
    background-color: #1f5d3d; 
    color: white; 
}