<div class="text-center mb-4">
    <h1 class="fw-bold">Gestão de Estoque</h1>
    <p class="text-muted">Veja o estoque de talões de cada loja.</p>
</div>

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 mb-4">
            <div class="input-group">
                <input type="text" class="form-control" id="search" placeholder="Buscar por Loja">
                <div class="input-icon">
                      <i class="fas fa-search"></i>
                </div>
                <button class="btn btn-success" id="searchStockBtn" style="background-color: #269447; color: #fff;" >Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <%- include('../../components/pagination', { currentPage, totalPages }) %>
</div>

<div class="text-center mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-3 mb-2">
            <button class="btn btn-custom w-100" type="button" id="requestTalonBtn" data-url="/stocks/add">
                <i class="fas fa-plus-circle"></i> Solicitar Talão
            </button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-2">
            <button class="btn btn-secondary w-100" type="button" id="exportStockCsvBtn">
                <i class="fas fa-file-export"></i> Exportar CSV
            </button>
        </div>
    </div>
</div>